VITE_CHAIN_ID=46630
VITE_CHAIN_NAME=Robinhood Chain Testnet
VITE_RPC_URL=https://rpc.testnet.chain.robinhood.com
VITE_EXPLORER_URL=https://explorer.testnet.chain.robinhood.com
VITE_FACTORY_ADDRESS=
VITE_COLLATERAL_ADDRESS=
VITE_API_BASE=/v1
VITE_WALLETCONNECT_PROJECT_ID=
